

.tableContainer table thead tr th{
    min-width: 300px;
    padding: 5px;
    color: aliceblue;
    padding-right: 5rem;
    padding-left: 20px;
    
}

.tableContainer table thead tr{
    background-color: #a1a2a77e;
    color: aliceblue;
    
}

.tableContainer{
    margin-top: 70px ;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 60px;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 5px;
}