.container-bg{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    
   
}

.form{
    background-color: #775CC4;
    border-radius: 10px;
    border-style:dashed;
}

.buttonP{
    max-width: 80px;
    
}

.form__input{
    max-width: 20rem;
}